///////
// Dot keyframes
///////

$dot-distance: 1.8rem;

@keyframes alignTopDot {
  from{margin-bottom: 0}
  to{margin-bottom: $dot-distance}
}

@keyframes alignTopDotReverse {
  from{margin-bottom: $dot-distance}
  to{margin-bottom: 0}
}


@keyframes alignBottomDot {
  from{margin-top: 0}
  to{margin-top: $dot-distance}
}

@keyframes alignBottomDotReverse {
  from{margin-top: $dot-distance}
  to{margin-top: 0}
}

///////
// defaults
///////
.actions-container-animation {
  -webkit-transition: opacity 0.6s ease, margin-top 0.8s ease;
  -moz-transition: opacity 0.6s ease, margin-top 0.8s ease;
  -ms-transition: opacity 0.6s ease, margin-top 0.8s ease;
  -o-transition: opacity 0.6s ease, margin-top 0.8s ease;
  transition: opacity 0.6s ease, margin-top 0.8s ease;
} 

.arrow-position,
.dots-position {
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.actions-container {
  position: relative;
}


.inactive {

  &.actions-container {
    left: 1000000px; // remove the containers ghost from blocking other interactions on the page

    // delay it to go after the fade/drop animation
    -webkit-transition: left 0s ease 0.6s;
    -moz-transition: left 0s ease 0.6s;
    -ms-transition: left 0s ease 0.6s;
    -o-transition: left 0s ease 0.6s;
    transition: left 0s ease 0.6s;
  }

  .dots-position {
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
  }

  .top-dot-animation,
  .bottom-dot-animation {
    animation-delay: 2s;
  }

}


.active {

  &.actions-container {
    left: 0; // get container in position
  }

  .dots-position {
    -webkit-transition: top 0.3s 0.45s;
    -moz-transition: top 0.3s 0.45s;
    -ms-transition: top 0.3s 0.45s;
    -o-transition: top 0.3s 0.45s;
    transition: top 0.3s 0.45s;
  }

  .arrow-position {
    transition-delay: 0.35s;
  }

  .actions-container-animation {
    margin-top: 1rem;
    opacity: 1;
  }

}

///////
// Container visible animations
///////
.active {

  // un-comment once the animation is sorted
  .dots-position {
    top: 100%;
  }

  .arrow-position {
    top: 0;
  }

  .top-dot-animation {
    -webkit-animation: alignTopDotReverse 0.7s forwards;
    -o-animation: alignTopDotReverse 0.7s forwards;
    animation: alignTopDotReverse 0.7s forwards;
    animation-direction: alternate;
  }

  .bottom-dot-animation {
    -webkit-animation: alignBottomDotReverse 0.7s forwards;
    -o-animation: alignBottomDotReverse 0.7s forwards;
    animation: alignBottomDotReverse 0.7s forwards;
  }

}


///////
// Container *not* visible animations
///////
.inactive {

  .dots-position {
    top: 0;
  }

  .arrow-position {
    top: -100%;
  }

  .top-dot-animation {
    -webkit-animation: alignTopDot 0.6s forwards;
    -o-animation: alignTopDot 0.6s forwards;
    animation: alignTopDot 0.6s forwards;
    animation-direction: alternate;

  }

  .bottom-dot-animation {
    -webkit-animation: alignBottomDot 0.6s forwards;
    -o-animation: alignBottomDot 0.6s forwards;
    animation: alignBottomDot 0.6s forwards;
    animation-direction: alternate;
  }
}