

.mini-interaction {

  &__inner-container {
    position: relative;
    width: 350px;
    margin: 0 auto;
  }

  &__action {
    background: $purple;
    border: 0;
    border-radius: 2em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 1rem 0 2rem;
    position: relative;
    text-align: left;
    width: 200px;

    &::after {
      border: 17px solid transparent;
      border-top-color: $purple;
      color: white;
      content: '';
      left: calc(50% - 15px);
      position: absolute;
      top: calc(100% - 17px);
      transition: top 0.15s cubic-bezier(0.1, 0.9, 0.32, 1.6);
      width: 1px;
    }
  }

  &__button-label {
    flex-grow: 1;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}